version: "3"

volumes:
  postgres_data:
  tinkoff_investment_static:

services:
  db:
    image: postgres:12.3
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
    ports:
      - "5432:5432"

  web:
    build: backend/
    command: "./entrypoint.sh db:5432 -- ./run.sh"
    env_file:
      - backend/.env
    volumes:
      - .:/code
      - tinkoff_investment_static:/code/backend/staticfiles
    expose:
      - 9999
    depends_on:
      - db
    dns:
      - 8.8.8.8

  nginx:
    build: backend/nginx
    ports:
      - 1337:80
    depends_on:
      - web
    volumes:
    - tinkoff_investment_static:/code/backend/staticfiles
