# Project
SITE_ADDRESS = "http://127.0.0.1:8000"
SECRET_KEY = "SUPER-SECRET-KEY"
TIME_ZONE = "Europe/Moscow"
LANGUAGE_CODE = "ru-Ru"

# PostgreSQL
DB_NAME="database-name"
DB_USER="database-user"
DB_PASSWORD="database-password"
DB_HOST="database-host"
DB_PORT="database-port"
