{% extends 'base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/investment_account_settings.css' %}">
{% endblock %}


{% block content %}
  <div class="text-center">
  {% if request.user.default_investment_account and request.user.default_investment_account.creator == request.user %}
    <h3>Счет: {{ request.user.default_investment_account.name }}({{ request.user.default_investment_account.broker_account_id }})</h3>
    <input type="hidden" value="{{ total_pay_in }}" id="total-capital">
    <input type="hidden" value="{{ total_income }}" id="total-income">
    <form class="m-auto text-left investment-account-settings-form">
      <div class="form-group setting-item">

      </div>
      <div class="form-group setting-item">
        <div id="co-owners">
          <table class="table co-owners-table">
            <caption style="caption-side: top">
              Инвестор: {{ request.user.username }}
            </caption>
            <thead>
              <tr class="table-primary text-center">
                <th scope="col">Капитал</th>
                <th scope="col">Доля</th>
                <th scope="col">Лимит</th>
                <th scope="col">В обороте</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <th class="co-owner-capital"><input type="number" class="form-control" value="{{ creator_capital|floatformat:2 }}" step="0.01" disabled></th>
                <th class="co-owner-share"><input type="number" class="form-control" step="0.01" disabled value="1"></th>
                <th class="co-owner-limit"></th>
                <th class="co-owner-circulation"></th>
              </tr>
            </tbody>
          </table>
          {% for owner in request.user.default_investment_account.co_owners.all %}
            <table class="table co-owners-table">
              <caption style="caption-side: top">
                Инвестор: {{ owner.investor.username }}
              </caption>
              <thead>
                <tr class="table-primary text-center">
                  <th scope="col">Капитал</th>
                  <th scope="col">Доля</th>
                  <th scope="col">Лимит</th>
                  <th scope="col">В обороте</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <th class="co-owner-capital"><input type="number" class="form-control" min="0" max="{{ total_pay_in }}" data-target="{{ owner.pk }}" value="{{ owner.capital|floatformat:2 }}" step="0.01"></th>
                  <th class="co-owner-share"><input type="number" class="form-control" min="0" data-target="{{ owner.pk }}" value="{{ owner.share|floatformat:2 }}" step="0.01"></th>
                  <th class="co-owner-limit"></th>
                  <th class="co-owner-circulation"></th>
                </tr>
              </tbody>
            </table>
            {% endfor %}
          <button class="btn btn-primary w-100">Сохранить</button>
        </div>
      </div>

      <div class="form-group setting-item">
        <div class="float-left">
          <label for="add-co-owners">Добавление совладельцев</label><br>
          <input type="text" id="add-co-owners" placeholder=" Имя пользователя" autocomplete="false">
          <div id="found-investors" class="mt-3">

          </div>
        </div>
        <div class="float-right">
          <label for="capital-sharing">Принцип разделения капитала</label>
          <select class="form-control" id="capital-sharing" disabled>
          {% if request.user.default_investment_account.capital_sharing_principle == 'abs' %}
            <option value="abs" selected>Абсолютный</option>
            <option value="rel">Относительный</option>
          {% else %}
            <option value="rel" selected>Относительный</option>
            <option value="abs">Абсолютный</option>
          {% endif %}
          </select>
        </div>
      </div>
    </form>
{#    <button class="btn btn-primary w-25 mt-5">Сохранить</button>#}
  {% else %}
    <h3><a href="{% url 'investment_accounts' %}" style="text-decoration: none">Выберите</a> счет, владельцем которого вы являетесь</h3>
  {% endif %}
  </div>
{% endblock %}

{% block body_script %}
  <script src="{% static 'js/investment_account_settings.js' %}"></script>
{% endblock %}
