{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load tz %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/operations.css' %}">
{% endblock %}

{% block content %}
  <div class="text-center">
    <h2>Ваши операции</h2>
    {% if 'figi=' in request.get_full_path %}
      <a href="{% url 'operations' %}" style="text-decoration: none">Сбросить фильтры</a>
    {% endif %}
    <ul class="operations list-group list-group-flush m-auto">
      {% if operations %}
        {% for operation in operations %}
          {% ifchanged operation.date|localtime|date:"d-m-Y" %}
            <span class="operation-new-day">{{ operation.date|localtime|date }}</span>
          {% endifchanged %}
          <li class="operation-item list-group-item text-left {% if operation.payment < 0 %} expense {% else %} income {% endif %}">
            <!-- Доли -->
            {% if operation.shares.all.count %}
              <div class="operation-item-shares">
              {% for share in operation.shares.all %}
                <span class="edit-share"
                      data-pk="{{ share.pk }}" data-value="{{ share.value }}" data-investor="{{ share.co_owner.investor.username }}">
                  &rfisht; {{ share.co_owner.investor.username }}: {{ share.value|floatformat:2 }}</span><br>
              {% endfor %}
              </div>
            {% endif %}
            <div class="float-left">
              <span class="operation-item-date float-left">{{ operation.date|localtime|date:"H:i:s" }}</span>
              <br>
              <span class="operation-item-type float-left">
                {{ operation.friendly_type_format }}
                {% if operation.lots %}
                  (Лотов: {{ operation.lots }})
                {% endif %}
              </span>
            </div>
            <div class="float-right text-right">
              <!-- Оплата -->
              <div class="operation-item-payment">
                {{ operation.payment|payment_format }}<span class="operation-item-payment-abbreviation">{{ operation.currency.abbreviation }}</span>
              </div>
              <!-- Комиссия -->
              {% if operation.commission %}
                <div class="operation-item-commission">
                  {{ operation.commission|payment_format }}<span class="operation-item-payment-abbreviation">{{ operation.currency.abbreviation }}</span>
                </div>
              {% endif %}
              {% if operation.lots %}
                <div class="operation-item-price">
                  {{ operation.payment|divide:operation.lots|payment_format }} за лот
                </div>
              {% endif %}
              <!-- Ценная бумага -->
              {% if operation.instrument %}
                <div class="operation-item-figi">
                  <a href="{% url 'operations' %}?figi={{ operation.instrument.figi }}">{{ operation.instrument.name }}</a>
                </div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      {% else %}
        <h5>
          {% if request.user.default_investment_account %}
            Операций не найдено :(
          {% else %}
            <a href="{% url 'investment_accounts' %}" class="link-to-create-investment-account">Выберите</a>
            инвестиционный счет, чтобы увидеть операции
          {% endif %}
        </h5>
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block body_script %}
  <script src="{% static 'js/operations.js' %}"></script>
{% endblock %}