.setting-item {
  margin-top: 50px;
  text-align: left;
}

.remove-co-owner-btn:hover:before {
  content: 'Удалить?';
}
.remove-co-owner-btn:hover span {
  display: none;
}
.investment-account-settings-form {
  width: 90%;
}
label[for="co-owners"] {
  font-weight: bold;
}
label[for="co-owners"] span {
  color: rgb(100, 170, 150)
}
.general-information-table {
  width: 90%;
}
.general-information-table th:first-child {
  width: 15%;
}
.general-information-table th:nth-child(2) {
  width: 25%;
}
.general-information-table th:nth-child(3) {
  width: 25%;
}

.co-owners-table th:first-child {
  width: 15%;
}
.co-owners-table th:nth-child(2) {
  width: 25%;
}
.co-owners-table th:nth-child(3) {
  width: 15%;
}
.co-owners-table th:nth-child(4) {
  width: 20%
}
