.operations {
  width: 65%
}

/* Блок операции */
.operation-item {
  margin-top: 10px;
}
.operation-item.income {
  background-color: rgba(100, 255, 225, .2);
  border-left: 3px solid green;
}
.operation-item.expense {
  background-color: rgba(255, 100, 165, .2);
  border-left: 3px double red;
}

/* Дата операции */
.operation-item-date {
  color: rgba(20, 80, 150, .9);
  font-weight: bold;
  font-size: 1.2em;
}
.operation-item-type {
  color: rgba(90, 0, 120, .9)
}

/* Оплата операции*/
.operation-item-payment {
  font-size: 1.25em;
}
.operation-item.income .operation-item-payment {
  color: rgba(0, 100, 0, .9)
}
.operation-item.expense .operation-item-payment {
  color: rgba(150, 0, 0, .9);
}
/* Символ валюты */
.operation-item-payment-abbreviation {
  font-size: .95em;
  margin-left: 3px;
}
/* Комиссия */
.operation-item-commission {
  font-size: 1.1em;
  color: rgba(220, 0, 0, .7)
}
/* Ценная бумага */
.operation-item-figi {
  color: rgba(20, 80, 150, .9);
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  max-width: 400px;
  margin-top: 25px;
}

/* Если операций нет, будет показана ссылка на страницу инвестиционных счетов */
.link-to-create-investment-account:hover {
  text-decoration: none;
}